<%= @learning.content %>

<%= button_to 'Like', learning_likes_path(@learning), action: :create, method: :post %>

<% @comments.each do |comment| %>
<p><%= comment.body %></p>
<% end %>

<%= simple_form_for [@learning, @comment] do |f| %>

  <%= f.input :body, label: 'Comment' %>
  <%= f.button :submit, 'Submit Comment' %>

<% end %>
