<%= @learning.content %>


<%- if @learning.like_exists?(@user) -%>
  <%= button_to 'Unlike', learning_like_path(@learning, @learning.which_like(@user)), action: :destroy, method: :delete %>
<%- else -%>
  <%= button_to 'Like', learning_likes_path(@learning), action: :create, method: :post %>
<%- end -%>

<% @comments.each do |comment| %>
<p><%= comment.body %> &mdash; <%= comment.user.display_name %></p>
<% end %>

<%= simple_form_for [@learning, @comment] do |f| %>

  <%= f.input :body, label: 'Comment' %>
  <%= f.button :submit, 'Submit Comment' %>

<% end %>
