<div class="create-learning">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 centered">
        <h1 class="learning-title"><i class="fa fa-rocket fa-1x" style="color:#FA58F4"></i> 
          <%= @learning.user.display_name %> learned...</h1>
        <p class="learning-content">
          <%= @learning.content %>
        </p>

        <h1 class="comment-title">
          <%= @learning.likes.size %>
          <i class="fa fa-thumbs-up fa-1x light-gray"></i>
          <%- if @learning.like_exists?(@user) -%>
            <%= button_to 'like', learning_like_path(@learning, @learning.find_like(@user)), action: :destroy, method: :delete, class: "btn btn-success" %>
          <%- else -%>
            <%= button_to 'unlike', learning_likes_path(@learning), action: :create, method: :post, class: "btn btn-warning" %>
          <%- end -%>
          <br><br><br>Comments
        </h1>
        <% @comments.each do |comment| %>
        <p class="comments"><%= comment.body %> &mdash; 
        <i class="fa fa-rocket fa-1x" style="color:#FA58F4"></i> 
        <%= comment.user.display_name %></p>
        <% end %>

        <div class="row comment-row">
          <%= simple_form_for [@learning, @comment] do |f| %>
            <%= f.input :body, label: false, :input_html => { :value => "Got something to say?", :class => "comment-textarea" } %>
            <div class="row"></div>
            <input class="btn btn-primary btn-lg share" name="commit" type="submit" value="Submit Comment">
          <% end %>
        </div>


      </div>
    </div>
  </div>



