<div class="learning-index">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1 class="profile-greeting">Hello <%= @user.display_name %>!</h1>
        <img src="<%= @img_url %>" class="profile-picture">
        <div class="row">
          <%- if current_user == @user -%>
            <%= simple_form_for(@user) do |f| %>
              <%= f.input :display_name, label: false, placeholder: "Change username", :input_html => { class: "username-textarea" } %>
               <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <button type="submit" class="btn btn-primary btn-lg save-btn">Save</button>
                </div>
              </div class="col-lg-2"></div>
              </div>
            <% end %>
          <%- end -%>
        </div>
        <div class="row comment-row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <h2>What I learned Recently:</h2>
            <ul class="learnings">
              <%- unless @users_recent_learnings == nil -%>
                <% @users_recent_learnings.each do |learning| %>
                  <li class="learn-listing">
                    <i class="fa fa-rocket fa-1x" style="color:#FA58F4"></i>
                    I learned 
                    <%= link_to "#{learning.content.truncate(26)}", learning_path(learning) %>
                    <i class="fa fa-thumbs-up fa-1x light-gray"></i>
                    <%= learning.likes_count %> 
                  </li>
                <% end %>
              <%- end -%>
            </ul>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
