<!DOCTYPE html>
<html>
<head>
  <title>Pulsar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_user %>
    <%= button_to 'Sign In With GitHub', '/auth/github', method: :get %>
  <% else %>
    <%= button_to 'Sign Out', 'users#user_log_out', action: :user_log_out, method: :get %>
  <% end %>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
